@import "desktop";
@import "mobile";
@import "tablet";

@mixin bracket-border ($side) {
  border-#{$side}: 1px solid black;
}

@mixin headers ($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  margin: .3% 0 .3% .3%;
}

body {
  font-family: "Calibri";
}
h1, h2, h3, h4 {
  margin: 3px;
}
h1 {
  @include headers(2em, bold);

  a {
    @include headers(.5em, normal);
  }
}
h2 {
  @include headers(1.75em, bold);
}
h3 {
  @include headers(1.5em, bold);
}

table td {
  padding: 3px 7px;
}
.timestamp {
  float: right;
  font-size: small;
}

.group {
  display: inline-block;
  border: 1px solid #E0E0E0;
  padding: 2px;
  margin: 2px;
}
.table-group th {
  font-size: 2em;
}
.table-match {
  width: 100%;
}

/* country and match styling on Group page */
.match-winner {
  font-style: italic;
}
.match-completed td {
  color: #C8C8C8;
}
.match-now td {
  background-color: #CCFFCC;
}
.match-today td {
  color: blue;
}
.team-win {
  color: #00CC00;
}
.team-lose {
  color: red;
}

/* bracket table borders */
.bracket {
  width: 100%;

  .border-left {
    @include bracket-border(left);
  }
  .border-right {
    @include bracket-border(right);
  }
  .border-top {
    @include bracket-border(top);
  }
  .border-bottom {
    @include bracket-border(bottom);
  }
}

