<!doctype html>
<html ng-app="worldCup">
  <head>
  	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
  	<div ng-controller="MainController">
	  	<div class="group" ng-repeat="group in results">
	  		<h2>Group {{group.group_name}}</h2>
				<table cellspacing="0" class="table-group">
					<colgroup>
						<col width="50%">
						<col width="10%">
						<col width="10%">
					</colgroup>
					<tbody>
			    	<tr ng-repeat="team in group.teams | orderBy: ['-points', '-goal_diff']" ng-class="getCountryStatus(team.wins, team.losses, team.draws)">
			    		<td>
			    			{{team.country}}
			    		</td>
			    		<td>
			    			{{team.points}}
			    		</td>
			    		<td>
			    			{{team.goal_diff}}
			    		</td>
			    	</tr>
		    	</tbody>
		    </table>
		    <h3>Matches</h3>
		    <table cellspacing="0" class="table-match">
					<colgroup>
						<col width="30%">
						<col width="5%">
						<col width="5%">
						<col width="30%">
						<col width="30%">
					</colgroup>
					<tbody>
			    	<tr ng-repeat="match in group.matches | orderBy: ['-status', 'datetime']" ng-class="getMatchStatus(match.datetime, match.status)">
			    		<td ng-class="{'match-winner' : match.winner == match.home_team.country}">
			    			{{match.home_team.country}}
			    		</td>
			    		<td>
			    			{{match.home_team.goals}}
			    		</td>
			    		<td>
			    			{{match.away_team.goals}}
			    		</td>
			    		<td ng-class="{'match-winner' : match.winner == match.away_team.country}">
			    			{{match.away_team.country}}
			    		</td>
			    		<td>
			    			{{match.datetime | date: 'short'}}
			    		</td>
			    	</tr>
		    	</tbody>
		    </table>
			</div>

			<div>
				<table>
					<tr><th>Key</th></tr>
					<tr class="match-completed"><td>Completed Match</td></tr>
					<tr class="match-now"><td>Match in Progress</td></tr>
					<tr class="match-today"><td>Today's Matches</td></tr>
					<tr class="team-win"><td>Country Advancing</td></tr>
					<tr class="team-lose"><td>Country Knocked Out</td></tr>
				</table>
			</div>
		</div>
		<div>
			<table class="bracket">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
  </body>
</html>