body {
	font-family: "Calibri";
}
h1, h2, h3, h4 {
	margin: 3px;
}
h1 a {
	font-weight: normal;
	font-size: .5em;

}
table td {
	padding: 3px 7px;
}

.group {
	width: 24%;
	display: inline-block;
	border: 1px solid #E0E0E0;
	padding: 2px;
	margin: 2px;
}
.table-group th {
	font-size: 2em;
}
.table-match {
	width: 100%;
}

/* country and match styling on Group page */
.match-winner {
	font-style: italic;
}
.match-completed td {
	color: #C8C8C8;
}
.match-now td {
	background-color: #CCFFCC;
}
.match-today td {
	color: blue;
}
.team-win {
	color: #00CC00;
}
.team-lose {
	color: red;
}

/* bracket table borders */
.bracket {
	width: 100%;
}
.bracket .border-left {
	border-left: 1px solid black;
} 
.bracket .border-right {
	border-right: 1px solid black;
} 
.bracket .border-top {
	border-top: 1px solid black;
}
.bracket .border-bottom {
	border-bottom: 1px solid black;
} 