@import "desktop";
@import "mobile";
@import "tablet";

@import "bracket";
@import "groups";

@mixin headers ($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  margin: 10px 0 10px 5px;
}

body {
  font-family: "Calibri" sans-serif;
}

h1, h2, h3, h4 {
  margin: 3px;
}
h1 {
  @include headers(2em, bold);

  a {
    @include headers(.5em, normal);
  }
}
h2 {
  @include headers(1.75em, bold);
}
h3 {
  @include headers(1.5em, bold);
}

table th {
  font-weight: bold;
}
table td {
  padding: 3px 7px;
}
.timestamp {
  float: right;
  font-size: small;
}

a {
  text-decoration: none; 
  color: cornflowerblue;
}