<div>
  <div class="timestamp">Updated at {{timestamp | date: 'short'}}</div>
  <h1>Groups <a href="#/bracket">Bracket</a></h1>
  <div ng-show="loading">Loading...</div>
  <div class="group" ng-repeat="group in results">
    <h2>Group {{group.group_letter}}</h2>
    <table cellspacing="0" class="table-group">
      <colgroup>
        <col width="50%">
        <col width="10%">
        <col width="10%">
      </colgroup>
      <tbody>
        <tr ng-repeat="team in group.teams | orderBy: ['-points', '-goal_differential']" ng-class="getCountryStatus(group, team)">
          <td>
            <i class="flag">{{getFlag(team.fifa_code)}}</i> {{team.country}}
          </td>
          <td>
            {{team.points}}
          </td>
          <td>
            {{team.goal_differential}}
          </td>
        </tr>
      </tbody>
    </table>
    <h3>Matches</h3>
    <table cellspacing="0" class="table-match">
      <colgroup>
        <col width="30%">
        <col width="5%">
        <col width="5%">
        <col width="30%">
        <col width="25%">
        <col width="5%">
      </colgroup>
      <tbody>
        <tr ng-repeat="match in group.matches | orderBy: ['-status', 'datetime']" ng-class="getMatchStatus(match.datetime, match.status)">
          <td ng-class="{'match-winner' : match.winner == match.home_team.country}">
            <i class="flag">{{getFlag(match.home_team.fifa_code)}}</i> {{match.home_team.country}}
          </td>
          <td>
            {{getScoreDisplay(match.status, match.home_team)}}
          </td>
          <td>
            {{getScoreDisplay(match.status, match.away_team)}}
          </td> 
          <td ng-class="{'match-winner' : match.winner == match.away_team.country}">
            <i class="flag">{{getFlag(match.away_team.fifa_code)}}</i>{{match.away_team.country}}
          </td>
          <td>
            {{match.datetime | date: 'MM/dd ha' | lowercase}}
          </td>
          <td>
            <span ng-show="match.status == 'in progress'">{{match.time}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-hide="loading">
    <table>
      <tr><th>Key</th></tr>
      <tr class="match-completed"><td>Completed Match</td></tr>
      <tr class="match-now"><td>Match in Progress</td></tr>
      <tr class="match-today"><td>Today's Matches</td></tr>
      <tr class="match-tomorrow"><td>Tomorrow's Matches</td></tr>
      <tr class="team-win"><td>Country Advancing</td></tr>
      <tr class="team-lose"><td>Country Knocked Out</td></tr>
      <tr class="team-tie"><td>Tied Countries</td></tr>
    </table>
  </div>
</div>